<div class="px-4 py-5 my-5 text-center">
    <img class="img-fluid rounded-circle" src="../../assets/JA-Headshot.jpg" alt="" width="250" height="250">
    <h1 class="display-5 fw-bold">Jack Allard</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Hello! My name is Jack and I am a Computer Science student with nearly 2 years of professional software development experience.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="https://github.com/jackallard17" target="_blank" class="btn btn-primary btn-lg px-4 gap-3">Github</a>
            <a href="https://www.linkedin.com/in/jack-allard-2b7767204/" target="blank" class="btn btn-outline-secondary btn-lg px-4">LinkedIn</a>
        </div>
    </div>
</div>